[project]
	description = "  Model View Controller for Android (Recreated)"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gaurav Vaish (gvaish)
[access "refs/for/refs/*"]
	read = group user/Gaurav Vaish (gvaish)
	push = group user/Gaurav Vaish (gvaish)
	label-Code-Review = -2..+2 group user/Gaurav Vaish (gvaish)
	label-Verified = -1..+1 group user/Gaurav Vaish (gvaish)
	rebase = group user/Gaurav Vaish (gvaish)
	removeReviewer = group user/Gaurav Vaish (gvaish)
	submit = group user/Gaurav Vaish (gvaish)
[access "refs/heads/*"]
	read = group user/Gaurav Vaish (gvaish)
	create = group user/Gaurav Vaish (gvaish)
	push = +force group user/Gaurav Vaish (gvaish)
	pushMerge = group user/Gaurav Vaish (gvaish)
[access "refs/tags/*"]
	push = +force group user/Gaurav Vaish (gvaish)
	pushTag = group user/Gaurav Vaish (gvaish)
	pushSignedTag = group user/Gaurav Vaish (gvaish)
